body{
    text-align: center;
    background-color: beige;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color:cornsilk;
    padding: 20px;
    border-radius: 10px;
    border:2px solid rgb(66, 62, 62);
    padding: 30px;
    
}
form {
   text-align: center;
}
input[type="submit"]{
    border: none;
    color: #f5e5dd;
    background-color: #2c2a29;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
input[type="button"]:hover{
    background-color: rgb(112, 99, 94);
}
